
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Nothing here</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>There is nothing here</h1>
        <p>If you got here from a link, this note is probably not made public.<br>
        如果你点击链接来到这里，说明这块内容还没有完善。<br>
        注意段落中有颜色的亮暗区别，暗色表示还未完善，较为亮色的表示存在链接，可以点击。</p>
<p>你可以直接<a href="javascript:history.back()">返回 Go Back </a>。</p>
            <p>你也可以点击右下角的“邮件”按钮发邮件告知你需要这一块内容，或者直接在本项目库一同合作</p>
           
        </div>
<script src="https://giscus.app/client.js"
        data-repo="Unlinearity/Learn-Everything"
        data-repo-id="R_kgDOLuyF8A"
        data-category="Q&A"
        data-category-id="DIC_kwDOLuyF8M4Ce0R6"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

    </body>
</html>
